.phoneCarousel{
    background-image: url(.../img/14-pro-max-galaxydidong-black.jpg);
    background-size: cover;
    background-position: center bottom;   
    padding: $pd-2 0;
    h1{
        @include styleText($fs-4,$fw-3,$color-blue-2);
    }
    h3{
        @include styleText($fs-5,$fw-2,$color-blue-1);
        letter-spacing: $ls-1;
        margin-bottom: $mg-1;
    }
    p{
        @include styleText($fs-2,$fw-1,$color-dark-1);
        margin-bottom: $mg-2;
    }
    /*.btnPhone-watch{
    background: transparent;
    padding: 13.5px 44px;
    border: 2px solid #2a73dd;
    border-radius: 8px;
    letter-spacing: 0.03rem;
    font-size: 14px;
    font-weight: 600;
    color: #2a73dd;
    box-shadow: 0 3px 6px #c9d8f4;
    transition: .5s;
    }
    .btnPhone-buy{
    background: linear-gradient(120deg, #60a4f4, #2a73dd);
    padding: 15.5px 46px;
    border: none;
    border-radius: 8px;
    letter-spacing: 0.03rem;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    transition: .5s;
    }
    */
}


//responsive
@include responsive("large-down"){
    .phoneCarousel{
        padding: $pd-8 0;
    } 
}
@include responsive("medium-down"){
    .phoneCarousel{
        h1{
            font-size: $fs-8;
        }
    } 
}
@include responsive("small-down"){
    .phoneCarousel{
        padding: $pd-5 0;
    } 
}
