main {
 background-color: $color-dark-2;
 .title__product {
     color: $color-white-3;
 }
 .card {
     background-color: $color-dark-5;
     border-color: $color-dark-1;
 }
 .card-body {
     .card-title {
         color: $color-white-3;
     }
 }
 .gia__ban {
     color: $color-white-3;
 }
 .gia__goc {
     color: $color-dark-1;
 }
}