.bg__footer {
    background: rgb(83, 110, 174);
    background: linear-gradient(
      90deg,
      rgba(83, 110, 174, 1) 0%,
      rgba(89, 122, 161, 1) 50%,
      rgba(171, 0, 255, 1) 100%
    );
    .content__footer {
      display: flex;
      font-family: $robo;
      padding: $pd-9 $pd-10;
      .content__footer-left {
        width: 50%;
        font-size: $fs-9;
        color: $color-white-3;
      }
      .content__footer-right {
        width: 50%;
        ul {
          list-style: none;
          display: flex;
          justify-content: right;
          li {
            margin: $mg-0 $mg-5;
            font-size: $fs-9;
            color: $color-white-3;
          }
        }
      }
    }
  }