html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.title__product {
  font-size: 44px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin: 30px auto;
}

.card-img-top {
  width: 70%;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  padding-bottom: 25px;
}

.card-body .card-title {
  font-size: 1.1rem;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}
.card-body .gia {
  display: flex;
  justify-content: center;
}
.card-body .gia__ban {
  font-size: 18px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  margin: 0 10px;
}
.card-body .gia__goc {
  font-size: 1.1rem;
  font-style: italic;
  font-family: "Roboto", sans-serif;
  margin: 0 10px;
}

.bg__footer {
  background: rgb(83, 110, 174);
  background: linear-gradient(90deg, rgb(83, 110, 174) 0%, rgb(89, 122, 161) 50%, rgb(171, 0, 255) 100%);
}
.bg__footer .content__footer {
  display: flex;
  font-family: "Roboto", sans-serif;
  padding: 50px 0;
}
.bg__footer .content__footer .content__footer-left {
  width: 50%;
  font-size: 18px;
  color: #fff;
}
.bg__footer .content__footer .content__footer-right {
  width: 50%;
}
.bg__footer .content__footer .content__footer-right ul {
  list-style: none;
  display: flex;
  justify-content: right;
}
.bg__footer .content__footer .content__footer-right ul li {
  margin: 0 10px;
  font-size: 18px;
  color: #fff;
}

html.darkMode,
body.darkMode {
  background-color: #121212;
}
html.darkMode .title__product,
body.darkMode .title__product {
  color: #fff;
}
html.darkMode .card,
body.darkMode .card {
  background-color: transparent;
  border-color: #656774;
}
html.darkMode .card-body .card-title,
body.darkMode .card-body .card-title {
  color: #fff;
}
html.darkMode .gia__ban,
body.darkMode .gia__ban {
  color: #fff;
}
html.darkMode .gia__goc,
body.darkMode .gia__goc {
  color: #656774;
}

.sidebarMini {
  position: fixed;
  top: 25%;
  right: 0;
  z-index: 500;
  width: 400px;
  background-color: #2196f3;
  transform: translateX(100%);
  transition: 0.5s;
  border-left: 1px solid #2196f3;
  color: #fff;
}
.sidebarMini .sidebarMini__button {
  background: #2196f3;
  padding: 5px 20px;
  border: 1px solid #2196f3;
  border-radius: 8px 0 0 8px;
  letter-spacing: 0.015rem;
  position: fixed;
  transform: translateX(-100%);
  transition: 0.5s;
  color: #fff;
}
.sidebarMini .sidebarMini__button:focus {
  outline: none;
}
.sidebarMini .sidebarMini__content {
  width: 170px;
  padding: 20px;
  text-align: center;
}
.sidebarMini .sidebarMini__content h2 {
  font-size: 14px;
}
.sidebarMini .sidebarMini__content .switch {
  height: 25px;
  width: 50px;
  margin: 0 10px;
  position: relative;
}
.sidebarMini .sidebarMini__content .switch input {
  display: none;
}
.sidebarMini .sidebarMini__content .switch input:checked + .slider::before {
  transform: translateX(22px);
}
.sidebarMini .sidebarMini__content .switch .slider {
  background-color: #2a73dd;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 34px;
  cursor: pointer;
}
.sidebarMini .sidebarMini__content .switch .slider::before {
  content: "";
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  bottom: 4px;
  left: 4px;
  transition: 0.5s;
}
.sidebarMini.is-opened {
  transform: translateX(60%);
}/*# sourceMappingURL=style.css.map */